<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="megamek">
        <dir
          name="src">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess"/>
                <dir
                  name="ui">
                  <dir
                    name="swing"/>
                </dir>
              </dir>
              <dir
                name="commands"/>
              <dir
                name="event"/>
              <dir
                name="generator">
                <dir
                  name="enums"/>
                <dir
                  name="skillGenerators"/>
              </dir>
              <dir
                name="ratgenerator"/>
              <dir
                name="ui">
                <dir
                  name="baseComponents"/>
                <dir
                  name="comboBoxes"/>
                <dir
                  name="dialogs">
                  <dir
                    name="helpDialogs"/>
                  <dir
                    name="nagDialogs"/>
                </dir>
                <dir
                  name="displayWrappers"/>
                <dir
                  name="enums"/>
                <dir
                  name="lists"/>
                <dir
                  name="models"/>
                <dir
                  name="panels"/>
                <dir
                  name="panes"/>
                <dir
                  name="preferences"/>
                <dir
                  name="renderers"/>
                <dir
                  name="swing">
                  <dir
                    name="alphaStrike"/>
                  <dir
                    name="audio"/>
                  <dir
                    name="boardview"/>
                  <dir
                    name="calculationReport"/>
                  <dir
                    name="dialog"/>
                  <dir
                    name="forceDisplay"/>
                  <dir
                    name="gameConnectionDialogs"/>
                  <dir
                    name="lobby">
                    <dir
                      name="sorters"/>
                  </dir>
                  <dir
                    name="minimap"/>
                  <dir
                    name="scenario"/>
                  <dir
                    name="skinEditor"/>
                  <dir
                    name="table"/>
                  <dir
                    name="tileset"/>
                  <dir
                    name="tooltip"/>
                  <dir
                    name="unitDisplay"/>
                  <dir
                    name="unitSelector"/>
                  <dir
                    name="util"/>
                  <dir
                    name="widget"/>
                </dir>
                <dir
                  name="trees"/>
              </dir>
            </dir>
            <dir
              name="codeUtilities"/>
            <dir
              name="common">
              <dir
                name="actions"/>
              <dir
                name="alphaStrike">
                <dir
                  name="cardDrawer"/>
                <dir
                  name="conversion"/>
              </dir>
              <dir
                name="annotations"/>
              <dir
                name="battlevalue"/>
              <dir
                name="commandline"/>
              <dir
                name="containers"/>
              <dir
                name="cost"/>
              <dir
                name="enums"/>
              <dir
                name="equipment"/>
              <dir
                name="eras"/>
              <dir
                name="event"/>
              <dir
                name="force"/>
              <dir
                name="icons"/>
              <dir
                name="jacksonadapters"/>
              <dir
                name="loaders"/>
              <dir
                name="miscGear"/>
              <dir
                name="net">
                <dir
                  name="connections"/>
                <dir
                  name="enums"/>
                <dir
                  name="events"/>
                <dir
                  name="factories"/>
                <dir
                  name="listeners"/>
                <dir
                  name="marshalling"/>
                <dir
                  name="packets"/>
              </dir>
              <dir
                name="options"/>
              <dir
                name="pathfinder"/>
              <dir
                name="planetaryconditions"/>
              <dir
                name="preference"/>
              <dir
                name="scenario"/>
              <dir
                name="strategicBattleSystems"/>
              <dir
                name="templates"/>
              <dir
                name="util">
                <dir
                  name="fileUtils"/>
                <dir
                  name="generator"/>
                <dir
                  name="sorter"/>
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
              <dir
                name="weapons">
                <dir
                  name="artillery"/>
                <dir
                  name="autocannons"/>
                <dir
                  name="battlearmor"/>
                <dir
                  name="bayweapons"/>
                <dir
                  name="bombs"/>
                <dir
                  name="c3"/>
                <dir
                  name="capitalweapons"/>
                <dir
                  name="defensivepods"/>
                <dir
                  name="flamers"/>
                <dir
                  name="gaussrifles"/>
                <dir
                  name="infantry"/>
                <dir
                  name="lasers"/>
                <dir
                  name="lrms"/>
                <dir
                  name="mgs"/>
                <dir
                  name="missiles"/>
                <dir
                  name="mortars"/>
                <dir
                  name="other"/>
                <dir
                  name="ppc"/>
                <dir
                  name="primitive"/>
                <dir
                  name="prototypes"/>
                <dir
                  name="srms"/>
                <dir
                  name="tag"/>
                <dir
                  name="unofficial"/>
              </dir>
            </dir>
            <dir
              name="server">
              <dir
                name="commands"/>
              <dir
                name="victory"/>
            </dir>
            <dir
              name="test">
              <dir
                name="entities"/>
            </dir>
            <dir
              name="utilities">
              <dir
                name="xml"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="unittests">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess"/>
              </dir>
              <dir
                name="generator"/>
              <dir
                name="ui">
                <dir
                  name="swing"/>
              </dir>
            </dir>
            <dir
              name="codeUItilities"/>
            <dir
              name="common">
              <dir
                name="loaders"/>
              <dir
                name="options"/>
              <dir
                name="preference"/>
              <dir
                name="util">
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
            </dir>
            <dir
              name="server">
              <dir
                name="victory"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
</project>
